.card{

    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
   
}
.card .card-body{
   margin-left: 10%;
   margin-right: 10%;
   align-items: center;
}
.card .card-body .card-img-top{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
.card .card-body .btn{
    
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
